<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create student page</title>
  <link th:href="@{resources/static/assets/css/demo.css}" rel="stylesheet" />

</head>
<body>
<h1 >Student login page</h1>
<form
        method="post"
        th:action="@{/student/created}"
        th:object="${student}">
  <div>
    <label>Name</label>
    <input
            id="name"
            name="name"
            type="text"
            th:value="*{name}">
  </div>
  <br>
  <button>Submit</button>

</form>
</body>
</html>